@import url("../../styles/main.scss");

.cart {
    width: 100%;
    min-height: 80vh;
    background: linear-gradient(to bottom, var(--color-medium) 0%,  var(--color-medium) 90%, var(--color-dark) 100%);
    margin-top: 10vh;
    position: relative;
    display: flex;
    flex-flow: column;
    padding: 10vh 10vh;
    gap: 60px;

    .close {
        position: fixed;
        top: 12vh;
        right: 30px;
        width: 30px;
        height: 30px;
        background-image: url("../../assets/close.svg");
        background-position: center;
        background-size: contain;
        transition: 0.3s all;
        &:hover {
            transform: scale(1.2);
        }
    }

    .close-2 {
        position: absolute;
        top: 50%;
        left: 30px;
        width: 30px;
        height: 30px;
        background-image: url("../../assets/sideArrow2.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: 0.3s all;
        transform: rotate(180deg);
        &:hover {
            transform: rotate(180deg) scale(1.2);
        }
    }

    .cart-footer {
        width: 100%;
        height: 20%;
        margin-top: auto;
        display: flex;
        justify-content: center;
        gap: 40px;
    }

    .cart-body {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-flow: row nowrap;
        justify-content: space-between;

        .cart-empty {
            display: flex;
            flex-flow: column;
            gap: 40px;
            align-items: flex-start;
            h3 {
                font-size: 1.3rem;
            }
        }

        .cart-list {
            width: 100%;
        }

    }

    .cart-title {
        text-align: left;
    }

}