@import url("../../styles/main.scss");

.cart {
    width: 100%;
    min-height: 80vh;
    background: linear-gradient(to bottom, var(--color-medium) 0%,  var(--color-medium) 90%, var(--color-dark) 100%);
    margin-top: 10vh;
    position: relative;
    display: flex;
    flex-flow: column;
    padding: 10vh 10vh;

    .close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        height: 30px;
        background-image: url("../../assets/close.svg");
        background-position: center;
        background-size: contain;
        transition: 0.3s all;
        &:hover {
            transform: scale(1.2);
        }
    }

    .cart-footer {
        width: 100%;
        height: 20%;
        margin-top: auto;
        display: flex;
        justify-content: center;
        gap: 40px;
    }

    .cart-body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        .cart-details {
            width: auto;
            min-width: 400px;
            border-left: 1px solid var(--color-light);
            padding: 50px;
            display: flex;
            flex-flow: column;
            align-items: flex-start;
            gap: 40px;
            height: 100%;
            margin-left: auto;

            ul {
                display: flex;
                flex-flow: column;
                gap: 20px;
                width: 100%;
                li {
                    display: flex;
                    gap: 10px;
                }
                border-bottom: solid 1px var(--color-light);
                padding-bottom: 40px;
            }

            .total-price {
                
                font-size: 1rem;
                span {
                    font-size: 1.5rem;
                }
            }

        }
    }

    .cart-title {
        text-align: left;
    }

}