@import url("../../../styles/main.scss");


.item-card {
    height: 300px;
    width: 20%;
    min-width: 250px;
    min-height: 400px;
    background-color: #000;
    display: flex;
    flex-flow: column nowrap;
    border: 2px solid var(--color-light);
    transition: all 0.3s ease;
    position: relative;
    opacity: 0;
    transform: translateY(-10px);
    animation: fadeInUp 0.35s ease forwards;
    
    @keyframes fadeInUp {
        to {
        opacity: 1;
        transform: translateY(0);
        }
    }

    .item-card-link {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 5;
    }

    // @media (min-width: 1023px){
    //     height: 100%;
    //     width: 100%;
    //     min-height: 0;
    //     min-width: none;
    // }

    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #FFF;
        opacity: 1;
    }

    &:hover {
        box-shadow: -1px -1px 20px 10px rgba(255,255,255,0.10);
        cursor: pointer;
        button {
            background-color: var(--color-accent-orange);
        }
        .item-card-bottom {
            background-color: #583d2d;
        }
    }
    
    .item-card-top {
        display: block;
        position: relative;
        width: 100%;
        height: 60%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .item-card-bottom {
        border-top: 2px solid var(--color-light);
        width: 100%;
        height: 40%;
        background-color: var(--color-medium);
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        padding: 15px;

        .item-card-text {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 10px;
            h3 {
                font-size: 18px;
            }
        }

        .item-card-footer {
            display: flex;
            flex-flow: row wrap;
            align-items: flex-end;
            justify-content: space-between;
            p {
                font-weight: 400;
                font-size: 20px;
            }
        }

        button {
            font-size: 16px;
            padding: 18px 26px;
        }
        
    }



}
