@import url("../../styles/main.scss");

.hero {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    min-height: 90vh;
    padding: 0 5vw 5vw 5vw;
    .text-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        gap: 20px;
        z-index: 2;

        .button-container {
            display: flex;
            gap: 20px;
        }
    }
    
    h1 {
        
        display: block;
        position: relative;
        font-size: 7rem;
    }
    .title-overlay {
        z-index: 2;
        display: block;
        position: absolute;
        font-size: 18vw;
        left: 20%;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.1;
        pointer-events: none;
        user-select: none;
    }
    .text {
        z-index: 2;
        display: block;
        position: relative;
        text-align: left;
        max-width: 60%;
        line-height: 1.5;
    }
}

