@import url("../../styles/main.scss");

.hero {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    min-height: 90vh;
    padding: 0 5vw 2.5vw 5vw;

    .scroll-down {
        cursor: pointer;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        opacity: 0.5;
        transform: translateY(-100vh);
        animation: heroAnimation3 1s ease-out 0.5s forwards;
        transition: 0.3s all;

        &:hover {
            opacity: 1;
        }        

    }

    .text-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        gap: 20px;
        z-index: 2;

        .button-container {
            display: flex;
            gap: 20px;
        }
    }
    
    h1 {
        display: block;
        position: relative;
        font-size: 7rem;
        animation: heroAnimation1 1s ease;

    }
    .title-overlay {
        z-index: 2;
        display: block;
        position: absolute;
        font-size: 18vw;
        left: 20%;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.1;
        pointer-events: none;
        user-select: none;
    }
    .text {
        z-index: 2;
        display: block;
        position: relative;
        text-align: left;
        max-width: 60%;
        line-height: 1.5;
        opacity: 0;
        animation: heroAnimation2 1s ease-out 0.5s forwards;

    }
}

@keyframes heroAnimation1 {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes heroAnimation2 {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes heroAnimation3 {
    0% {
        transform: translateY(100vh);
    }
    100% {
        transform: translate(0);
    }
}