@import url("../../../styles/main.scss");

.item-detail {
    
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--color-medium);
    padding: 5vw;
    overflow: hidden;
    
    display: flex;
    flex-flow: column nowrap;

    .overlay {
        position: absolute;
        top: 5%;
        left: 0;
        background:  linear-gradient(to bottom, rgba(15, 6, 0, 0), rgba(15, 6, 0, 1), rgba(15, 6, 0, 0));
        width: 100%;
        height: 60%;
        z-index: 2;
    }

    .btn-close {
        position: absolute;
        right: 0;
        top: 0;
    }
    

    .item-detail-top {
        height: 50%;
    }
    .item-detail-bottom {
        height: 50%;

        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        gap: 30px;
        
        .details {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            gap: 60px;        
            max-width: 1200px;
            margin: 0 auto;

            .border {
                width: 1px;
                height: 100%;
                background-color: var(--color-light);
            }

            .details-right {
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                align-items: flex-start;
                width: auto;
                flex: 1;
                gap: 40px;
                .details-descr {
                    text-align: left;
                }
                .details-footer {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: flex-end;
                    gap: 50px;
                    width: 100%;
                    .details-price {
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: flex-end;
                        gap: 20px;
                        line-height: 1;
                        
                        h6 {
                            font-size: 2rem;
                        }
                    }
                    .details-buttons {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: flex-start;
                        gap: 20px;
                        align-items: flex-end;
                        button {
                            padding: 5px 40px;
                            min-width: 140px;
                            min-height: 60px;
                            display: flex;
                            flex-flow: row nowrap;
                            align-items: center;
                            justify-content: center;
                            gap: 20px;
                            img {
                                width: 30px;
                                height: 30px;
                                
                            }
                        }
                    }
                }

            }


            .details-left {
                width: auto;
            }

            .additionals {
                display: flex;
                flex-flow: column nowrap;
                height: 100%;
                justify-content: space-around;
                gap: 40px;
                .additional {
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    gap: 10px;
                    position: relative;
                    &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        width: 40px;
                        height: 1px;
                        background-color: var(--color-light);
                        bottom: -20px;
                    }
                    &:last-child {
                        &::after {
                            display: none;
                        }
                    }
                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
            }

        }

    }

}


