@import url("../../../styles/main.scss");
.item-detail {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 5vw;
  overflow: hidden;
  gap: 50px;
  display: flex;
  flex-flow: column nowrap;
}
.item-detail a:hover {
  color: var(--color-dark);
}
.item-detail .overlay {
  position: absolute;
  top: 5%;
  left: 0;
  background: linear-gradient(to bottom, rgba(15, 6, 0, 0), rgb(15, 6, 0), rgba(15, 6, 0, 0));
  width: 100%;
  height: 60%;
  z-index: 2;
}
.item-detail .btn-close {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-size: 1.2rem;
  z-index: 10;
  opacity: 0.8;
  transition: 0.3s all;
}
.item-detail .btn-close:hover {
  transform: scale(1.1);
  opacity: 1;
}
.item-detail .btn-close img {
  height: 40%;
  width: auto;
}
.item-detail .item-detail-top {
  height: 50%;
  z-index: 3;
}
.item-detail .item-detail-bottom {
  height: 50%;
  z-index: 3;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 30px;
}
.item-detail .item-detail-bottom .details {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 60px;
  max-width: 1200px;
  margin: 0 auto;
}
.item-detail .item-detail-bottom .details .border {
  width: 1px;
  height: 100%;
  background-color: var(--color-light);
}
.item-detail .item-detail-bottom .details .details-right {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: auto;
  flex: 1;
  gap: 40px;
}
.item-detail .item-detail-bottom .details .details-right .details-descr {
  text-align: left;
}
.item-detail .item-detail-bottom .details .details-right .details-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  gap: 50px;
  width: 100%;
}
.item-detail .item-detail-bottom .details .details-right .details-footer .details-price {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  gap: 20px;
  line-height: 1;
}
.item-detail .item-detail-bottom .details .details-right .details-footer .details-price h6 {
  font-size: 2rem;
}
.item-detail .item-detail-bottom .details .details-right .details-footer .details-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 20px;
  align-items: flex-end;
}
.item-detail .item-detail-bottom .details .details-right .details-footer .details-buttons button {
  padding: 5px 40px;
  min-width: 140px;
  min-height: 60px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.item-detail .item-detail-bottom .details .details-right .details-footer .details-buttons button img {
  width: 30px;
  height: 30px;
}
.item-detail .item-detail-bottom .details .details-left {
  width: auto;
}
.item-detail .item-detail-bottom .details .additionals {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: space-around;
  gap: 40px;
}
.item-detail .item-detail-bottom .details .additionals .additional {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;
  position: relative;
}
.item-detail .item-detail-bottom .details .additionals .additional:after {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 1px;
  background-color: var(--color-light);
  bottom: -20px;
}
.item-detail .item-detail-bottom .details .additionals .additional:last-child::after {
  display: none;
}
.item-detail .item-detail-bottom .details .additionals .additional img {
  width: 30px;
  height: 30px;
}
/*# sourceMappingURL=ItemDetail.css.map */