/*START*/

.cartwidget {
    background-image: url("../../assets/cart.svg");
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
    transition: all 0.3s ease-out;
    &:hover {
        background-image: url("../../assets/cart-filled.svg");
    }
}