
.item-list-container {

    position: relative;
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;

    background-image: url('../../../public/heroBackground1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding: 5vw 5vw 5vw 5vw;

    h2 {
        text-align: left;
        font-size: 3rem;
    }

    * {
        z-index: 3;
    }

    .item-list-upper {
        display: flex;
        flex-flow: row wrap;
        width: 80%;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        z-index: 4;

        .item-list-upper-right {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            gap: 30px;
        }

        .selector-categorias {
            position: relative;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            gap: 30px;
          
            button {
              display: flex;
              flex-flow: row nowrap;
              justify-content: space-between;
              gap: 10px;
              align-items: center;
              width: auto;
              border-bottom: 1px solid var(--color-light);
              padding: 10px 40px;
              position: relative;
              text-transform: capitalize;
              min-width: 190px;
          
              img {
                width: 30px;
                height: 30px;
              }
            }
          
            .dropdown-options {
              position: absolute;
              top: 100%;
              z-index: 99;
              width: 100%;
              display: block;
              border: 1px solid var(--color-light);
              border-top: none;
              background-color: var(--color-dark);
              text-transform: capitalize;
          
              a {
                border-bottom: 1px solid var(--color-light);
                display: flex;
                justify-content: space-between;
                gap: 10px;
                align-items: center;
                padding: 10px 10px;
          
                &:hover {
                  cursor: pointer;
                  background-color: var(--color-accent-orange);
                }
          
                img {
                  width: 30px;
                  height: 30px;
                }
              }
            }
          }
    }

    .item-list {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 30px;
        align-items: center;

        // @media (min-width: 1023px){
        //     display: grid;
        //     grid-template-columns: repeat(10, 1fr);
        //     grid-template-rows: repeat(8, 1fr);
        //     gap: 8px;
        //     height: 60vh;
        //     width: 70vw;
        //     li {
        //         &:nth-child(1) {
        //             grid-column: span 3 / span 3;
        //             grid-row: span 8 / span 8;
        //         }
        //         &:nth-child(2) {
        //             grid-column: span 3 / span 3;
        //             grid-row: span 4 / span 4;
        //             grid-column-start: 4;
        //         }
        //         &:nth-child(3) {
        //             grid-column: span 4 / span 4;
        //             grid-row: span 4 / span 4;
        //             grid-column-start: 7;
        //         }
        //         &:nth-child(4) {
        //             grid-column: span 4 / span 4;
        //             grid-row: span 4 / span 4;
        //             grid-column-start: 4;
        //             grid-row-start: 5;
        //         }
        //         &:nth-child(5) {
        //             grid-column: span 3 / span 3;
        //             grid-row: span 4 / span 4;
        //             grid-column-start: 8;
        //             grid-row-start: 5;
        //         }
        //         &:nth-child(6) {
        //             display: none;
        //         }
        //     }
        // }
            
    }

    .overlay {
        pointer-events: none;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        //background: linear-gradient(to top, #0F0600, #0F0600, rgba(15, 6, 0, 0.9), transparent);
        background: linear-gradient(to top, #0F0600, transparent, #0F0600);
        z-index: 1;
    }

}
