@import url("../../styles/main.scss");
.checkout-success {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.checkout-success h4 {
  display: flex;
  gap: 10px;
  align-items: center;
}
.checkout-success h4 span {
  font-weight: bold;
  font-size: 1.3rem;
}

.checkout-form {
  width: 100%;
  height: 100%;
}
.checkout-form form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 50px;
}
.checkout-form form fieldset {
  border: none;
  display: flex;
  flex-flow: row wrap;
  gap: 40px;
}
.checkout-form form fieldset .form-field {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 10px;
  outline: none;
}
.checkout-form form fieldset .form-field input {
  background-color: rgba(255, 255, 255, 0.1) !important;
  border: none;
  min-height: 20px;
  padding: 10px;
}
.checkout-form form fieldset .form-field input:focus-visible, .checkout-form form fieldset .form-field input:focus, .checkout-form form fieldset .form-field input:active {
  outline: none;
}
.checkout-form form fieldset .form-field input::-moz-placeholder {
  color: var(--color-light);
  opacity: 0.5;
}
.checkout-form form fieldset .form-field input::placeholder {
  color: var(--color-light);
  opacity: 0.5;
}
.checkout-form form fieldset .form-field input.correct {
  border: 2px solid rgb(31, 187, 31);
}
.checkout-form form fieldset .form-field input.incorrect {
  border: 1px solid red;
}
.checkout-form form fieldset .form-field input:-webkit-autofill {
  background-color: transparent !important;
}
.checkout-form form fieldset.fieldset-email input {
  min-width: 400px;
}

.cart {
  width: 100%;
  min-height: 80vh;
  background: linear-gradient(to bottom, var(--color-medium) 0%, var(--color-medium) 90%, var(--color-dark) 100%);
  margin-top: 10vh;
  position: relative;
  display: flex;
  flex-flow: column;
  padding: 10vh 10vh;
  gap: 60px;
}
.cart .close {
  position: fixed;
  top: 12vh;
  right: 30px;
  width: 30px;
  height: 30px;
  background-image: url("../../assets/close.svg");
  background-position: center;
  background-size: contain;
  transition: 0.3s all;
}
.cart .close:hover {
  transform: scale(1.2);
}
.cart .close-2 {
  position: absolute;
  top: 50%;
  left: 30px;
  width: 30px;
  height: 30px;
  background-image: url("../../assets/sideArrow2.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: 0.3s all;
  transform: rotate(180deg);
}
.cart .close-2:hover {
  transform: rotate(180deg) scale(1.2);
}
.cart .cart-footer {
  width: 100%;
  height: 20%;
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.cart .cart-body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.cart .cart-body .cart-empty {
  display: flex;
  flex-flow: column;
  gap: 40px;
  align-items: flex-start;
}
.cart .cart-body .cart-empty h3 {
  font-size: 1.3rem;
}
.cart .cart-body .cart-list {
  width: 100%;
}
.cart .cart-title {
  text-align: left;
}
/*# sourceMappingURL=Checkout.css.map */