@import url("../.././../styles/main.scss");

.carousel {
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;
    width: 100%;
    height: 100%;
  
    &__viewport {
      height: 100%;
      overflow: hidden;
    }
  
    &__container {
      display: flex;
      height: 100%;
    }
  
    &__slide {
      flex: 0 0 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }

    .overlay {
        pointer-events: none;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        //background: linear-gradient(to top, #0F0600, #0F0600, rgba(15, 6, 0, 0.9), transparent);
        background: linear-gradient(to top, #0F0600, transparent);
        z-index: 2;
    }

    .carousel__viewport {
        position: relative;
        z-index: 1;
    }

    .carousel__container {
        .carousel__slide {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        
    }

  }
  
  
  