@import '../../styles/main.scss';

.header {

    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--color-light);
    position: fixed;
    z-index: 99;

    .nav {
        width: 100%;
        height: 100%;
        padding: 0 2vw;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav-ul {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            gap: 40px;
            width: 60%;

            @media (max-width: 980px){
                width: 70%;
            }

            li {
                &:nth-child(2), &:nth-child(3){
                    @media (max-width: 767px){
                        display: none !important;
                    }
                }
            }

            a {
                font-size: 15px;
            }

            .main-logo {
                a {
                    display: flex;
                    flex-flow: column;
                    margin-right: 20px;
                    gap: 0;
                    span {
                        text-align: left;
                        font-size: 40px;
                        line-height: 0.5;
                        &:last-child {
                            margin-left: 10px;
                        }
                    }
                }
            }

        }
    }
}