@import url(".././../styles/main.scss");

.not-found-container {

    height: 90vh;
    margin-top: 10vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: 
    linear-gradient(to top, #0F0600, transparent),
    url("../../../public/heroBackground1.png") center / cover no-repeat;

    img {
        max-width: 200px;
        height: auto;
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.5rem;
    }

    .not-found-botones {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: 20px;
        button {
            min-width: 250px;
        }
    }

}